.panel {
	background-color: #eee4ff;

	&__sites-list {
		li {
			text-align: center;
			padding: 10px;
			cursor: pointer;

			&.hidden { display: none }
			&.active { background-color: rgba(255, 255, 255, 0.6) }
		}
	}
}
