doctype html
html
	head
		include ../../inc/_vars.pug
		include ../../inc/_all.pug
	body
		header
			h1 Сайт открытого правительства
		main
			h2 Следующие выборы президента скоро!
			// А хули вы хотели за две недели?
