doctype html
html
	head
		include inc/_vars.pug

		meta(chatset='UTF-8')
		title Загрузка игры...

		each CSS in ['root']
			link(rel='stylesheet' href=`/assets/css/${CSS}.min.css?v=${project.ver}`)
	body
		aside.panel

		div.game

		each JS in ['kamina', 'core', 'sites', 'tools/preventReload', 'init']
			script(src=`/assets/js/${JS}.min.js?v=${project.ver}` defer)
