doctype html
html
	head
		include inc/_vars.pug

		meta(chatset='UTF-8')
		title Загрузка игры...

		link(rel='stylesheet' href=`/assets/css/root.min.css?v=${VERSION}`)
	body
		aside.panel

		div.game

		each JS in ['kamina', 'core', 'sites', 'tools/preventReload', 'init']
			script(src=`${paths.assets}/js/${JS}.min.js?v=${VERSION}` defer)
