@import 'inc/vars', 'inc/every', 'inc/mixins';

body {
	$panelWidth: 225px;

	display: grid;
	grid-template-columns: $panelWidth auto;
	overflow-y: hidden;

	& > * { overflow-y: auto }

	min-width: 625px;
}

@import 'inc/panel';

.game {
	min-width: 400px;
	background-image: url('../img/loading.png?v=#{$VERSION}');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #f2f2f2;
	font-size: 0;

	iframe {
		border: 0;
	}

	&--site {
		min-width: 100%; min-height: 100%;
		font-size: 16px;

		&:not(.active) { display: none }
	}
}
