doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 Котики и кошки (сайт)
				p #[+un('Сайт')] в #[+link('network', 'Единой сети')], первоначально основанный в 199X году известным #[+un('дрессировщиком')] #[+un('кошек')] #[+un('Юлием Куклачевским')]. Предлагает пользователю посмотреть на #[+un('случайное')] изображение #[+un('кота')] или #[+un('кошки')] из своей #[+un('базы данных')].
				p Один из сайтов #[+un('сети Интернет')], переданных по решению #[+un('правительства')] №8814 от 20XX года на #[+link('history', 'заседании ЦК ОФ №2', 'close-internet')] единому провайдеру #[+link('rosgosconnect', 'РосГосКоннект')].
		
		include inc/_footer.pug
