doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 Создание статьи
				p Спасибо за проявленный интерес!
				p В связи с введением нового законодательства, писать новые статьи на портале "РосГосЗнания" могут только проверенные пользователи. Поэтому, мы предлагаем вам зарегистрироваться на нашем портале как редактор.
				p Форму регистрации #[+link('request', 'можно найти здесь')].
		
		include inc/_footer.pug
