doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 Двачат
				p ФГУП "Двачат" &ndash; #[+un('система')] #[+un('форумов')] в #[+link('network', 'Единой сети')], образованная из трёх крупнейших в #[+un('старой стране')] так называемых имиджборд - #[+un('Двачана')], #[+un('ИИчана')] и #[+un('Зерочана')], единовременно переданных по приказу правительства №1939 от 20XX года на #[+link('history', 'заседании ЦК ОФ №2', 'close-internet')] провайдеру #[+link('rosgosconnect', 'РосГосКоннект')]. Так как одна из имиджборд уже ранее принадлежала провайдеру, #[+un('интеграция')] остальных не составила каких-либо #[+un('проблем')].
		
		include inc/_footer.pug
