doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug

		main
			div
				h3 История страны
				div.note
					p #[b Внимание!] Раздел статьи о Старой истории нашего государтва в данный момент недоступен по причине редактирования и устранения мелких неточностей. На текущий момент доступен только раздел о Новейшей истории. Спасибо.
				div.toc
					p Содержание
					ol
						li #[s Старая история]
						li Новейшая история
							ol
								+newTOCItem('1', 'О государстве')
								li asdas
								li asdas
								li asdas

				h4#1 Новейшая история

		include inc/_footer.pug
