doctype html
html
	head
		- var isIndex = true
		include inc/_head.pug
	body
		include inc/_header.pug

		main
			h3 Главная страница
			p Приветствуем Вас на портале #[q РосГосЗнания]! На текущий момент у нас доступно уже более 7 статей:
			ul.list
				+newListItem('history', 'История страны')
				+newListItem('rosgosconnect', 'РосГосКоннект')
				+newListItem('rosznaniya', 'РосГосЗнания')
				+newListItem('dvach', 'Двачат')
				+newListItem('network', 'Единая сеть')
				+newListItem('rosklassneekue', 'РосКлассники')
				+newListItem('rip-news', 'РИП "Новости"')
				+newListItem('cats-site', 'Котики и кошки (сайт)')

		include inc/_footer.pug
