doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 Единая Сеть
				p Единая Сеть &ndash; выделенное приказом правительства №1 от 200X года на #[+link('history', 'заседании ЦК ОФ №1', 'new-gov')] из #[+un('Общей сети')] #[+un('образование')], #[+un('система')] объединённых #[+un('ЭВМ')]-сетей для хранения и передачи информации на территории #[+un('этой страны')].
				p Некоторое время населению предоставлялся доступ к Общей сети в целях #[+un('ознакомления')], затем по приказу правительства №1 от 20XX года на #[+link('history', 'заседании ЦК ОФ №2', 'close-internet')] #[+un('маршруты')] #[+un('связи')] с #[+un('другими странами')] были #[+un('отключены')].
		
		include inc/_footer.pug
