doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 РИП "Новости"
				p РосИнформПредприятие "Новости" &ndash; крупнейшее новостное информационное предприятие в стране. Образовано приказом правительства на заседании ЦК ОФ №3 из пяти других ведущих новостных агенств старой страны, все остальные были лишены лицензий и закрыты.
				p На текущий момент служит местом работы для более чем 50000 человек, каждый день сайт предприятия в Единой сети посещают более 1800503 человек.
		
		include inc/_footer.pug
