doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 РосГосКоннект
				p ФГУП "РосГосКоннект" &ndash; единственный #[+un('провайдер')] в #[+link('network', 'Единой сети')], предоставляющий услугу доступа для всего населения бесплатно. Образован приказом правительства правительства №2 от 200X года на #[+link('history', 'заседании ЦК ОФ №1', 'new-gov')] из крупнейших технологических компаний старой страны. Среди них, например: Группа@Почта.Ру , Центр "Осколково", РосЕлеКом и Яндерс.
				p Во ФГУП были также переданы все дочерние компании материнских субъектов.
		
		include inc/_footer.pug
