doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 РосКлассники
				p ФГУП "РосКлассники" &ndash; социальная сеть, расположенная в Единой Сети и принадлежащая единому провайдеру "РосГосКоннект". Образована из крупнейших на тот момент социальных сетей "НаКонтакте" и "ДвуКлассники" приказом правительства №3 от 200X года на #[+link('history', 'заседании ЦК ОФ №1', 'new-gov')]. На текущий момент является самым популярным сайтом в Единой Сети.
		
		include inc/_footer.pug
