doctype html
html
	head
		include inc/_head.pug
	body
		include inc/_header.pug
		
		main
			div
				h3 РосГосЗнания
				p ФГУП "РосГосЗнания" &ndash; образованная из крупнейших вики-проектов старой страны библиотека, в которой предоставляется доступ к знаниям.
		
		include inc/_footer.pug
