doctype html
html
	head
		include ../../inc/_vars.pug
		include ../../inc/_all.pug

		link(rel='stylesheet' href=`${paths.assets}/css/sites/news.min.css?v=${project.ver}`)
	body
		header
			h1 РИП "Новости"
			h2 Новости, которым можно доверять

		hr

		main
			h3 ВАЖНОЕ ЗА ПОСЛЕДНИЙ ДЕНЬ:
			article
				h4 На "Двачате" и в "РосКлассниках" проводятся техработы
				p Редакция составила подборку, чем можно себя занять.
			article
				h4 Действующий президент Поздняков собирается избираться на следущий срок
				p Население традиционно поддерживает.
			article
				h4 Группа из двух серийных маньяков-насильников надругалась над участником областного конкурса видеоигр
				p Они кричали что-то про графику и рекламу, но их крик уже никто не услышит. Пожизненное всё-таки.
			article
				h4 Резонансное дело Кирилла Палочникова продолжается
				p Он обвиняется в нарушении работы сети Правительства, но так как его поймали до того, как он успел что-либо сделать, он просит условное.
			article
				h4 Автор видеоигры "На лихом грузовике" выпустил новый шедевр
				p Ну это и так понятно.
			article
				h4 "Банда УТЧК" продолжает крёстный ход по стране
				p Убито уже более десяти человек, но охранительные службы делают всё, что и в их силах.
			h3 МЕНЕЕ ВАЖНО
			article
				h4 В редакции "Котиков и кошек" родился котёнок
				p Сотрудники думают устроить по этому поводу званный ужин.
			article
				h4 Идёт набор в редакторы "РосГосЗнаний"
				p Рассказываем, что необходимо, чтобы Вас взяли на одну из самых престижных профессий в стране.
			article
				h4 Сумасшедший из Новочковичей изнасиловал собаку породы сиба-ину и снял это на видео
				p Он долго не мог успокоиться и объяснял свои действия тем, что пёс предлагал ему наркотические вещества.
			article
				h4 В стране всё хорошо
				p Очередной новый день жители встречают с улыбкой.
			
			footer
				P &copy; РИП "Новости"
				p Новости &ndash; наша профессия.
			
		script(src=`${paths.assets}/js/iframes.min.js?v=${project.ver}` defer)
