@import '../inc/vars';
@import '../inc/every';
@import '../inc/mixins';

$width: 1000px;

body {
	background-color: #fff;
}

footer, header {
	text-align: center;
}

@import '../inc/links';
span[data-link='create-article'] {
	color: #dd0000;
	&:hover { color: #9f0000 }
}

header {
	border-bottom: 1px dotted #000;
	padding: 10px;

	h1 {
		font-family: 'Courier New';
		font-size: 5em;

		span[data-link] {
			text-decoration: none;
			color: #000;

			&:hover {
				color: lighten(#000, 40%);
			}
		}
	}

	h2 {
		font-family: 'Lucida Console';
	}
}

a {
	&.un { color: #e90000 }
}

main {
	width: 100%;
	max-width: $width;
	margin: 0 auto;
	padding: 10px;
	line-height: 1.5em;

	p {
		padding: 2px;
	}

	.note {
		background-color: #f9ffd6;
		border: 1px solid #ccc;
		padding: 5px;
		margin: 5px 0 15px;
	}

	.list, .toc {
		li { margin-left: 1.3em }
	}

	.toc {
		border: 1px solid #ccc;
		width: fit-content;
		float: left;
		padding: 5px;
		margin: 0 10px 10px 0;

		p:first-child {
			margin-bottom: 5px;
		}

		li {
			padding: 2px 0;
		}
	}

	form {
		fieldset, p {
			padding: 5px;
		}

		fieldset {
			margin-top: 10px;
		}

		input {
			padding: 2.5px 5px;
			margin-left: 10px;
		}

		input[type='submit'] {
			margin-top: 10px;
		}
	}
}

footer {
	font-size: .9em;
	color: #4d4d4d;
	padding: 20px;

	.copy {
		margin-top: 10px;
	}
}
