footer
	p Мы ведём набор в редакторы РосЗнаний. Если Вам это интересно, то Вы можете оставить свою кандидатуру на рассмотрение #[a(href='./request.html') здесь].
	p.copy &copy; #[a(href='.') РосГосЗнания]

	script(src=`/assets/js/special/iframes.min.js?v=${project.ver}` async)
