include ../../../inc/_vars.pug
include ../../../inc/_all.pug

mixin newListItem(href, text)
	li #[+link(href, text)]

mixin newTOCItem(ref, text)
	li #[a(href=`#${ref}`) #{text}]

mixin un(text)
	+link('create-article', text)

link(rel='stylesheet' href=`${paths.assets}/css/sites/wiki.min.css?v=${VERSION}`)
