doctype html
html
	head
		include ../../inc/_vars.pug
		include ../../inc/_all.pug
		
		link(rel='stylesheet' href=`${paths.assets}/css/sites/ok.min.css?v=${VERSION}`)
	body
		header
			div.brand
				div.logo
				p РосКлассники

		main
			p Здравствуйте, пользователь портала #[b РосКлассники]!
			p В данный момент проходят работы по обновлению цензур-листа.
			p(style='margin-top: 20px') Зайдите позже, пожалуйста.

		footer
			p &copy; РосГосКоннект

		script(src=`${paths.assets}/js/iframes.min.js?v=${VERSION}` defer)
